.about {

    width: 100%;
    min-height: 566px;
    display: grid;
    grid-template-columns: auto;
    margin-top: -70px;
    padding-bottom: 58px;

    @include laptop {
        width: 115%;
        margin-top: 58px;
        padding-left: 200px;
    }

    @include desctop {
        padding-left: 150px;
    }

    &__text {

        font-size: 16px;
        font-family: 'TT Commons';
        line-height: 20px;
        letter-spacing: -0.16px;
        color: $white;

        @include laptop {
            font-size: 18px;
            line-height: 24px;
            letter-spacing: -0.18px;
            text-align: left;
            width: 65%;
        }
    }

    &__career {
        display: grid;
        grid-template-columns: auto;
        border: 1px solid rgba(255, 255, 255, 1);
        margin-top: 40px;
        padding-left: 15px;
        padding-right: 15px;
    }

    &__career-skills-block {
        display: flex;
        font-size: 16px;
        font-family: 'TT Commons';
        line-height: 20px;
        letter-spacing: -0.16px;
        color: $white;
        gap: 16px;

        @include laptop {
            font-size: 18px;
            line-height: 24px;
            letter-spacing: -0.18px;
            column-gap: 32px;

        }

    }
}

.info-block {

    color: $white;

    &__name {
        padding-top: 12px;
        font-size: 16px;
        font-family: 'TT Commons';
        line-height: 20px;
        letter-spacing: -0.16px;
        gap: 0;
    }

    &__text {
        font-size: 16px;
        font-family: 'TT Commons';
        line-height: 20px;
        letter-spacing: -0.16px;
        opacity: 0.4000000059604645;
        top: -80px;

        @include laptop {
            font-size: 18px;
            line-height: 24px;
            letter-spacing: -0.18px;
        }
    }

    &__line {
        min-width: 288px;
        border-bottom: 1px solid #FFF;
        opacity: 0.4000000059604645;
        padding-top: 24px;
        padding-bottom: 24px;

        @include laptop {
            display: none;
        }
    }
}

h2 {
    font-size: 16px;
    font-family: 'Redcollar';
    line-height: 100%;
    color: $white;
    padding-bottom: 2px;
}

.about__career-education {
    @include laptop {
        display: flex;
        border-bottom: 1px solid #FFF;
        gap: 72px;
        padding-top: 40px;
        padding-bottom: 20px;
    }

}


.about__career-education>h2 {
    padding-top: 40px;

    @include laptop {
        width: 124px;
        padding-top: 0px;
    }

}

.about__career-work {
    @include laptop {
        display: flex;
        border-bottom: 1px solid #FFF;
        gap: 72px;
        padding-top: 20px;
        padding-bottom: 20px;

    }


}

.about__career-work>h2 {
    padding-top: 24px;

    @include laptop {
        width: 124px;
        padding-top: 0px;
    }
}

.about__career-skills {
    @include laptop {
        display: flex;
        gap: 72px;
        padding-top: 20px;
        padding-bottom: 20px;
        height: 270px;

        @include desctop {
            height: 290px;
        }
    }
}

.about__career-skills>h2 {
    padding-top: 24px;

    @include laptop {
        width: 124px;
        padding-top: 0px;

    }
}

#arrowwhite {
    position: relative;
    left: 40%;
    top: -0.5px;

    @include laptop {
        left: 5%;
    }
}