.description {

    display: grid;
    grid-template-columns: auto;
    margin-top: 48px;

    @include laptop {
        max-height: 600px;
    }



    &__text {

        background: #F51B1B;
        position: relative;
        top: -110px;
        border-radius: 20px 20px 0px 0px;
        width: 320px;

        @include laptop {
            height: 480px;
        }
    }


    &__contacts {

        padding-left: 16px;
        padding-top: 32px;
        display: grid;
        grid-template-columns: 0.3fr 0.3fr;
        gap: 11px;
        justify-content: left;
        align-self: center;
        padding-bottom: 40px;


        &_list {
            display: grid;
            padding-top: 15px;
            gap: 10px;

            @include laptop {
                padding-top: 22px;
                gap: 15px;
            }

        }

        &_text {
            display: grid;
            font-size: 16px;
            font-family: 'TT Commons';
            letter-spacing: -0.32px;
            color: $white;

            @include laptop {
                font-size: 20px;
                letter-spacing: -0.4px;
            }

        }
    }
}

#redunion {
    position: relative;
    width: 148px;
    height: 65px;
    top: -250px;
    left: 86px;

    @include bigmobile {
        top: -190px;
        left: -240px;
    }

    @include laptop {
        position: relative;
        left: 86px;
        top: -250px;

    }


}


#arrow {
    position: relative;
    top: -90px;
    left: -15px;

    @include bigmobile {
        left: -350px;
    }

    @include laptop {
        left: -10px;
    }

    @include desctop {
        top: -88px;
    }
}

h1 {
    color: $white;
    font-size: 20px;
    font-family: 'Redcollar';
    line-height: 24px;
    padding-top: 24px;
    padding-left: 16px;

    @include laptop {
        font-size: 24px;
        line-height: 28px;
    }
}